--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu

librosa
praat-parselmouth
openai-whisper
spacy
pandas
tqdm
joblib
numpy
scipy
soundfile
scikit-learn

fastapi==0.110.0
starlette==0.36.3
uvicorn[standard]==0.29.0
